@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  font-family: var(--font-jakarta);
}
.green-cta{
  background: rgba(52, 202, 165, 0.12);
}
.red-cta{
  background:rgba(237, 84, 78, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bottombar_container {
  @apply flex items-center justify-between gap-3 max-sm:gap-5;
}
.bottombar {
  @apply fixed bottom-0 z-10 w-full pl-4 rounded-t-3xl h-auto px-4 backdrop-blur-lg max-sm:px-4 md:hidden;
}
.bottomsidebar_link {
  @apply relative flex justify-between gap-4 rounded-lg p-4;
}

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 9px;
}

.main-container {
  @apply min-h-screen pl-[4rem] pt-[6rem] max-md:pl-0 max-md:ml-0 bg-[#fafafa] dark:bg-[#171717]  transition-colors ease-in-out duration-300 w-full ml-6;
}

.topbar {
  @apply top-0 h-[4.5rem] fixed flex w-full items-center justify-between bg-[#fafafa] py-3;
}

.leftsidebar {
  @apply fixed left-0 top-0 z-20 flex justify-between h-dvh flex-col rounded-none max-md:hidden;
}
.url_input {
  @apply block w-full border-[1px] border-[#DADDDD] dark:placeholder-[#e5e5e5] dark:focus:border-white dark:bg-transparent bg-white py-2.5 pl-10 pr-12 font-medium focus:border-transparent rounded-3xl h-[48px]  focus:outline-none transition ease-in-out duration-500 focus:ring-0;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #34CAA5;
  border-radius: 50px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

/* For Edge and IE */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #34CAA5;
  border-radius: 50px;
}
